body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;   /* Light gray */
  color: #333;           /* Dark text */
  text-align: center;
}

/* Hero */
.hero {
  padding: 80px 20px;
  background: linear-gradient(45deg, #cde9ff, #cbdadb);
  color: rgb(78, 68, 68);
}

.hero span {
  color: #4d4947;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

/* Sections */
section {
  padding: 50px 20px;
  background: white;
}

.skills .box span {
  display: inline-block;
  background: #e5e7eb;
  color: #333;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}

/* Projects */
.card {
  background: #ffffff;
  color: #333;
  margin: 10px auto;
  padding: 15px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  background: #2563eb;
  color: white;
  padding: 15px;
}